<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/cropper/cropper.css">

    <link rel="icon" href="img/favicon.jpg" type="image/x-icon" />

    <title>Kare Bulmaca Oyunu</title>
</head>

<body>


    <div class="wrapper">

        <ul class="squares">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <div class="user-remembered-welcome d-none text-white"></div>

        <div class="header">KARE BULMACA OYUNU</div>

        <section class="welcome-section">



            <div class="top-users-info d-none">

                <div class="top-users-info-header">En Çok Puan Alan Kullanıcılar</div>

                <div class="user-info-container">

                    <div class="user-name-wrapper">
                        <div class="user-name-text">Kullanıcı Adı: </div>
                        <div class="user-name"> Mehmet</div>
                    </div>


                    <div class="user-number-movement-point-wrapper">

                        <div class="number-of-movement-container">
                            <div class="number-of-movement-text">Hamle Sayısı: </div>
                            <div class="number-of-movement">16</div>
                        </div>

                        <div class="point-container">

                            <div class="point-text">Puan: </div>
                            <div class="point">65</div>

                        </div>

                    </div>

                </div>


                <div class="user-info-container">

                    <div class="user-name-wrapper">
                        <div class="user-name-text">Kullanıcı Adı: </div>
                        <div class="user-name"> Mehmet</div>
                    </div>


                    <div class="user-number-movement-point-wrapper">

                        <div class="number-of-movement-container">
                            <div class="number-of-movement-text">Hamle Sayısı: </div>
                            <div class="number-of-movement">16</div>
                        </div>

                        <div class="point-container">

                            <div class="point-text">Puan: </div>
                            <div class="point">65</div>

                        </div>

                    </div>

                </div>




                <div class="user-info-container">

                    <div class="user-name-wrapper">
                        <div class="user-name-text">Kullanıcı Adı: </div>
                        <div class="user-name"> Mehmet</div>
                    </div>


                    <div class="user-number-movement-point-wrapper">

                        <div class="number-of-movement-container">
                            <div class="number-of-movement-text">Hamle Sayısı: </div>
                            <div class="number-of-movement">16</div>
                        </div>

                        <div class="point-container">

                            <div class="point-text">Puan: </div>
                            <div class="point">65</div>

                        </div>

                    </div>

                </div>






            </div>





            <div class="welcome-form-container">

                <div class="welcome-form-inner-container">


                    <div class="username-rememberme-container d-none">


                        <!-- Kullanıcı adı input box -->
                        <div class="username-input-box">
                            <input type="text" id="userNameInput" autocomplete="off">
                            <span>| Kullanıcı Adı Giriniz</span>
                            <i></i>
                        </div>
                        <!-- Kullanıcı adı input box -->


                        <!-- Kullanıcı adı validation box -->
                        <div class="username-input-validation"></div>


                        <!-- Beni hatırla checkbox container -->
                        <div class="rememberMe-input-container">

                            <input type="checkbox" id="_checkbox" value="1">
                            <label for="_checkbox" class="rememberMe-input-label">
                                <div id="tick_mark"></div>
                            </label>
                            <div class="rememberMe-input-text" style="cursor: pointer;"
                                onclick="(()=>{$('#_checkbox').click();})();">Beni hatırla</div>

                        </div>



                        <!-- Çözüm devam edebilmekte gizli butonu -->
                        <button class="game-button username-next-btn">İleri</button>

                    </div>


                    <div class="image-input-container d-none">

                        <button class="game-button backto-username-input-btn">Farklı bir kullanıcı adı girin</button>


                        <label for="imageInput" class="game-button image-input-label">
                            <input type="file" id="imageInput" accept="image/png, image/jpeg">
                            <i class="fa-regular fa-file-image"></i>
                            <div>Oyunu başlatmak için bir resim yükleyin</div>
                        </label>

                        <div class="image-input-validation"></div>


                        <div class="help-text text-white fs-5" style="margin-top: 13px;">Ya da: </div>

                        <!-- Url'den görsel seçme input box -->
                        <div class="username-input-box" style="padding:13px 0;">
                            <input type="text" id="urlImageInput" style="padding: 11px 0 20px;" autocomplete="off">
                            <span>|Görsel Url'sini Giriniz</span>
                            <i></i>
                        </div>
                        <!-- Url'den görsel seçme input box -->


                        <!--  Url'den görsel seçme validation box -->
                        <div class="username-input-validation" style="margin-top:6px; margin-bottom: 13px;"></div>

                        <button type="button" class="game-button url-image-input-btn">Gönder</button>







                    </div>


                </div>


            </div>



            <div class="top-users-info d-none">


                <div class="top-users-info-header">En Yüksek Aldığınız Puan</div>



                <div class="user-info-container">

                    <div class="user-name-wrapper">
                        <div class="user-name-text">Kullanıcı Adı: </div>
                        <div class="user-name"> Mehmet</div>
                    </div>


                    <div class="user-number-movement-point-wrapper">

                        <div class="number-of-movement-container">
                            <div class="number-of-movement-text">Hamle Sayısı: </div>
                            <div class="number-of-movement">16</div>
                        </div>

                        <div class="point-container">

                            <div class="point-text">Puan: </div>
                            <div class="point">65</div>

                        </div>

                    </div>

                </div>





            </div>




            <div class="modal fade" id="cropperModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header" style="border-bottom-color: #0F172A !important;">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Resmi Kırp</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="img-preview-container">

                                <div class="row">

                                    <div class="col-7" style="max-height:600px; overflow: hidden;">
                                        <img src="" id="cropperImage">
                                    </div>

                                    <div class="col-4">
                                        <div id="preview"></div>
                                    </div>

                                </div>


                            </div>

                        </div>
                        <div class="modal-footer" style="border-top-color: #0F172A !important;">

                            <button type="button" id="crop">Kırp</button>
                            <button type="button" data-bs-dismiss="modal">Kapat</button>

                        </div>
                    </div>
                </div>
            </div>



        </section>





    </div>




    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="js/jquery/jquery-3.6.4.min.js"></script>
    <script src="js/cropper/cropper.js"></script>

    <script src="js/extra.js"></script>



</body>

</html>